In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('csv/2009-summary.csv')

In [3]:
df

                     DEST_COUNTRY_NAME ORIGIN_COUNTRY_NAME
0                        United States             Romania
1                        United States             Ireland
2                        United States               India
3                                Egypt       United States
4                    Equatorial Guinea       United States
..                                 ...                 ...
250                      United States       French Guiana
251                      United States               Haiti
252                      United States              Uganda
253  Bonaire, Sint Eustatius, and Saba       United States
254                             Greece       United States

[255 rows x 2 columns]

In [4]:
A = np.arange(1,51)

In [5]:
A

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [6]:
df_A = pd.DataFrame(A,columns=['A'])

In [7]:
df_A

     A
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15
15  16
16  17
17  18
18  19
19  20
20  21
21  22
22  23
23  24
24  25
25  26
26  27
27  28
28  29
29  30
30  31
31  32
32  33
33  34
34  35
35  36
36  37
37  38
38  39
39  40
40  41
41  42
42  43
43  44
44  45
45  46
46  47
47  48
48  49
49  50

In [7]:
import findspark

In [8]:
findspark.init()

In [9]:
import pyspark

In [10]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.getOrCreate()

24/05/27 12:48:14 WARN Utils: Your hostname, hatem-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/05/27 12:48:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/27 12:48:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
spark

24/05/27 12:48:30 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [18]:
sc = spark.sparkContext

In [19]:
sc

In [1]:
spark

In [2]:
sc

24/05/27 12:52:19 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [8]:
rdd1 = sc.parallelize(A)

In [14]:
rdd1

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [10]:
rddfile = sc.textFile('csv')

In [11]:
rddfile

csv MapPartitionsRDD[2] at textFile at NativeMethodAccessorImpl.java:0

In [12]:
df

                     DEST_COUNTRY_NAME ORIGIN_COUNTRY_NAME
0                        United States             Romania
1                        United States             Ireland
2                        United States               India
3                                Egypt       United States
4                    Equatorial Guinea       United States
..                                 ...                 ...
250                      United States       French Guiana
251                      United States               Haiti
252                      United States              Uganda
253  Bonaire, Sint Eustatius, and Saba       United States
254                             Greece       United States

[255 rows x 2 columns]

In [13]:
df_A

     A
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15
15  16
16  17
17  18
18  19
19  20
20  21
21  22
22  23
23  24
24  25
25  26
26  27
27  28
28  29
29  30
30  31
31  32
32  33
33  34
34  35
35  36
36  37
37  38
38  39
39  40
40  41
41  42
42  43
43  44
44  45
45  46
46  47
47  48
48  49
49  50

In [15]:
rddfile.count()

1764

In [16]:
rdd1.count()

50

In [18]:
rddfile.getNumPartitions()

7

In [19]:
rdd1.getNumPartitions()

4

In [20]:
rddfile.cache()

csv MapPartitionsRDD[2] at textFile at NativeMethodAccessorImpl.java:0

In [21]:
rddfile.take(5)

['DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count',
 'United States,Romania,1',
 'United States,Ireland,264',
 'United States,India,69',
 'Egypt,United States,24']

In [22]:
rdd1.cache()

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [23]:
rdd2 = rdd1.map(lambda x:x**2)

In [25]:
rdd2

PythonRDD[7] at RDD at PythonRDD.scala:53

In [24]:
rdd2.take(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
rdd3 = rdd2.filter(lambda x:x%2==0)

In [27]:
rdd3.collect()

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500]

In [28]:
rdd4 = rdd1.filter(lambda x:x%2==1)

In [29]:
rdd4.collect()

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [30]:
rdd1

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [31]:
rddfile

csv MapPartitionsRDD[2] at textFile at NativeMethodAccessorImpl.java:0

In [32]:
rddfile_split = rddfile.map(lambda x:x.split(','))

In [33]:
rddfile_split

PythonRDD[10] at RDD at PythonRDD.scala:53

In [34]:
rddfile_split.take(10)

[['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count'],
 ['United States', 'Romania', '1'],
 ['United States', 'Ireland', '264'],
 ['United States', 'India', '69'],
 ['Egypt', 'United States', '24'],
 ['Equatorial Guinea', 'United States', '1'],
 ['United States', 'Singapore', '25'],
 ['United States', 'Grenada', '54'],
 ['Costa Rica', 'United States', '477'],
 ['Senegal', 'United States', '29']]

In [35]:
rddfile_split_flat = rddfile.flatMap(lambda x:x.split(','))

In [36]:
rddfile_split_flat

PythonRDD[12] at RDD at PythonRDD.scala:53

In [37]:
rddfile_split_flat.take(100)

['DEST_COUNTRY_NAME',
 'ORIGIN_COUNTRY_NAME',
 'count',
 'United States',
 'Romania',
 '1',
 'United States',
 'Ireland',
 '264',
 'United States',
 'India',
 '69',
 'Egypt',
 'United States',
 '24',
 'Equatorial Guinea',
 'United States',
 '1',
 'United States',
 'Singapore',
 '25',
 'United States',
 'Grenada',
 '54',
 'Costa Rica',
 'United States',
 '477',
 'Senegal',
 'United States',
 '29',
 'United States',
 'Marshall Islands',
 '44',
 'Guyana',
 'United States',
 '17',
 'United States',
 'Sint Maarten',
 '53',
 'Malta',
 'United States',
 '1',
 'Bolivia',
 'United States',
 '46',
 'Anguilla',
 'United States',
 '21',
 'Turks and Caicos Islands',
 'United States',
 '136',
 'United States',
 'Afghanistan',
 '2',
 'Saint Vincent and the Grenadines',
 'United States',
 '1',
 'Italy',
 'United States',
 '390',
 'United States',
 'Russia',
 '156',
 'United States',
 'Federated States of Micronesia',
 '48',
 'Pakistan',
 'United States',
 '9',
 'United States',
 'Netherlands',
 '570',
 'Iceland',
 'United States',
 '118',
 'Marshall Islands',
 'United States',
 '77',
 'Luxembourg',
 'United States',
 '91',
 'Honduras',
 'United States',
 '391',
 'The Bahamas',
 'United States',
 '903',
 'El Salvador',
 'United States',
 '519',
 'United States',
 'Senegal',
 '46',
 'Samoa',
 'United States',
 '28',
 'United States',
 'Angola',
 '18',
 'Kazakhstan']

In [58]:
rddfile_split_flat_2 = rddfile_split_flat.flatMap(lambda x:x.split(' '))\
.filter(lambda x:x!=' ')\
.filter(lambda x:x!='')

In [72]:
rddfile.getNumPartitions()

7

In [71]:
rddfile_split_flat_2.getNumPartitions()

7

In [59]:
rddfile_split_flat_2

PythonRDD[34] at RDD at PythonRDD.scala:53

In [61]:
rddfile_split_flat_2.take(1000)

['DEST_COUNTRY_NAME',
 'ORIGIN_COUNTRY_NAME',
 'count',
 'United',
 'States',
 'Romania',
 '1',
 'United',
 'States',
 'Ireland',
 '264',
 'United',
 'States',
 'India',
 '69',
 'Egypt',
 'United',
 'States',
 '24',
 'Equatorial',
 'Guinea',
 'United',
 'States',
 '1',
 'United',
 'States',
 'Singapore',
 '25',
 'United',
 'States',
 'Grenada',
 '54',
 'Costa',
 'Rica',
 'United',
 'States',
 '477',
 'Senegal',
 'United',
 'States',
 '29',
 'United',
 'States',
 'Marshall',
 'Islands',
 '44',
 'Guyana',
 'United',
 'States',
 '17',
 'United',
 'States',
 'Sint',
 'Maarten',
 '53',
 'Malta',
 'United',
 'States',
 '1',
 'Bolivia',
 'United',
 'States',
 '46',
 'Anguilla',
 'United',
 'States',
 '21',
 'Turks',
 'and',
 'Caicos',
 'Islands',
 'United',
 'States',
 '136',
 'United',
 'States',
 'Afghanistan',
 '2',
 'Saint',
 'Vincent',
 'and',
 'the',
 'Grenadines',
 'United',
 'States',
 '1',
 'Italy',
 'United',
 'States',
 '390',
 'United',
 'States',
 'Russia',
 '156',
 'United',
 'States',
 'Federated',
 'States',
 'of',
 'Micronesia',
 '48',
 'Pakistan',
 'United',
 'States',
 '9',
 'United',
 'States',
 'Netherlands',
 '570',
 'Iceland',
 'United',
 'States',
 '118',
 'Marshall',
 'Islands',
 'United',
 'States',
 '77',
 'Luxembourg',
 'United',
 'States',
 '91',
 'Honduras',
 'United',
 'States',
 '391',
 'The',
 'Bahamas',
 'United',
 'States',
 '903',
 'El',
 'Salvador',
 'United',
 'States',
 '519',
 'United',
 'States',
 'Senegal',
 '46',
 'Samoa',
 'United',
 'States',
 '28',
 'United',
 'States',
 'Angola',
 '18',
 'Kazakhstan',
 'United',
 'States',
 '3',
 'Switzerland',
 'United',
 'States',
 '315',
 'United',
 'States',
 'Anguilla',
 '20',
 'Sint',
 'Maarten',
 'United',
 'States',
 '61',
 'Hong',
 'Kong',
 'United',
 'States',
 '252',
 'Trinidad',
 'and',
 'Tobago',
 'United',
 'States',
 '187',
 'Latvia',
 'United',
 'States',
 '12',
 'United',
 'States',
 'Ecuador',
 '345',
 'Slovakia',
 'United',
 'States',
 '1',
 'Suriname',
 'United',
 'States',
 '12',
 'Mexico',
 'United',
 'States',
 '6200',
 'United',
 'States',
 'Cyprus',
 '1',
 'Ecuador',
 'United',
 'States',
 '272',
 'United',
 'States',
 'Bosnia',
 'and',
 'Herzegovina',
 '1',
 'United',
 'States',
 'Portugal',
 '104',
 'United',
 'States',
 'Costa',
 'Rica',
 '501',
 'United',
 'States',
 'Guatemala',
 '333',
 'United',
 'States',
 'Suriname',
 '13',
 'Colombia',
 'United',
 'States',
 '785',
 'United',
 'States',
 'Cape',
 'Verde',
 '18',
 'United',
 'States',
 'Jamaica',
 '757',
 'United',
 'States',
 'Malaysia',
 '3',
 'Norway',
 'United',
 'States',
 '29',
 'United',
 'States',
 'Morocco',
 '16',
 'Thailand',
 'United',
 'States',
 '16',
 'Venezuela',
 'United',
 'States',
 '377',
 'United',
 'States',
 'Palau',
 '30',
 'United',
 'States',
 'Samoa',
 '28',
 'United',
 'States',
 'Algeria',
 '1',
 'United',
 'States',
 'Venezuela',
 '341',
 'Panama',
 'United',
 'States',
 '355',
 'United',
 'States',
 'Finland',
 '20',
 'United',
 'States',
 'Chile',
 '176',
 'Morocco',
 'United',
 'States',
 '16',
 'United',
 'States',
 'Greece',
 '61',
 'Antigua',
 'and',
 'Barbuda',
 'United',
 'States',
 '123',
 'Azerbaijan',
 'United',
 'States',
 '1',
 'United',
 'States',
 'The',
 'Bahamas',
 '959',
 'New',
 'Zealand',
 'United',
 'States',
 '86',
 'Liberia',
 'United',
 'States',
 '1',
 'United',
 'States',
 'Hong',
 'Kong',
 '293',
 'Hungary',
 'United',
 'States',
 '14',
 'United',
 'States',
 'China',
 '505',
 'United',
 'States',
 'Vietnam',
 '1',
 'Sweden',
 'United',
 'States',
 '65',
 'United',
 'States',
 'Kuwait',
 '25',
 'United',
 'States',
 'Dominican',
 'Republic',
 '1150',
 'United',
 'States',
 'Egypt',
 '25',
 'Israel',
 'United',
 'States',
 '117',
 'United',
 'States',
 'United',
 'States',
 '348113',
 'United',
 'States',
 'Luxembourg',
 '90',
 'Ethiopia',
 'United',
 'States',
 '12',
 'United',
 'States',
 'Poland',
 '61',
 'Martinique',
 'United',
 'States',
 '23',
 'Saint',
 'Barthelemy',
 'United',
 'States',
 '28',
 'United',
 'States',
 'Saint',
 'Barthelemy',
 '29',
 'United',
 'States',
 'Turkey',
 '87',
 'Barbados',
 'United',
 'States',
 '130',
 'United',
 'States',
 'Estonia',
 '1',
 'United',
 'States',
 'Azerbaijan',
 '1',
 'Germany',
 'United',
 'States',
 '1392',
 'Kyrgyzstan',
 'United',
 'States',
 '2',
 'United',
 'States',
 'South',
 'Korea',
 '621',
 'United',
 'States',
 'El',
 'Salvador',
 '464',
 'Ireland',
 'United',
 'States',
 '231',
 'United',
 'States',
 'Hungary',
 '15',
 'United',
 'States',
 'Serbia',
 '1',
 'Malaysia',
 'United',
 'States',
 '1',
 'United',
 'States',
 'Panama',
 '363',
 'United',
 'States',
 'Ethiopia',
 '12',
 'United',
 'States',
 'Aruba',
 '349',
 'United',
 'States',
 'Thailand',
 '13',
 'United',
 'States',
 'Netherlands',
 'Antilles',
 '289',
 'United',
 'States',
 'Turks',
 'and',
 'Caicos',
 'Islands',
 '147',
 'Cyprus',
 'United',
 'States',
 '2',
 'United',
 'States',
 'Pakistan',
 '15',
 'United',
 'States',
 'Honduras',
 '393',
 'Qatar',
 'United',
 'States',
 '41',
 'Fiji',
 'United',
 'States',
 '53',
 'Saint',
 'Kitts',
 'and',
 'Nevis',
 'United',
 'States',
 '113',
 'Taiwan',
 'United',
 'States',
 '275',
 'Haiti',
 'United',
 'States',
 '238',
 'Kuwait',
 'United',
 'States',
 '26',
 'Canada',
 'United',
 'States',
 '8271',
 'Federated',
 'States',
 'of',
 'Micronesia',
 'United',
 'States',
 '46',
 'United',
 'States',
 'Liberia',
 '1',
 'Jamaica',
 'United',
 'States',
 '733',
 'United',
 'States',
 'Malta',
 '2',
 'Dominican',
 'Republic',
 'United',
 'States',
 '1109',
 'Japan',
 'United',
 'States',
 '1383',
 'United',
 'States',
 'Saint',
 'Vincent',
 'and',
 'the',
 'Grenadines',
 '16',
 'United',
 'States',
 'Guadeloupe',
 '33',
 'Finland',
 'United',
 'States',
 '24',
 'United',
 'States',
 'Ukraine',
 '17',
 'United',
 'States',
 'France',
 '776',
 'United',
 'States',
 'Norway',
 '36',
 'Aruba',
 'United',
 'States',
 '359',
 'French',
 'Guiana',
 'United',
 'States',
 '4',
 'United',
 'States',
 'Kiribati',
 '18',
 'India',
 'United',
 'States',
 '66',
 'British',
 'Virgin',
 'Islands',
 'United',
 'States',
 '49',
 'United',
 'States',
 'Germany',
 '1406',
 'Brazil',
 'United',
 'States',
 '995',
 'United',
 'States',
 'New',
 'Zealand',
 '71',
 'French',
 'Polynesia',
 'United',
 'States',
 '38',
 'United',
 'Arab',
 'Emirates',
 'United',
 'States',
 '165',
 'Singapore',
 'United',
 'States',
 '25',
 'United',
 'States',
 'Mexico',
 '6220',
 'Netherlands',
 'United',
 'States',
 '586',
 'United',
 'States',
 'Sweden',
 '73',
 'United',
 'States',
 'Gabon',
 '1',
 'United',
 'States',
 'Martinique',
 '20',
 'United',
 'States',
 'United',
 'Arab',
 'Emirates',
 '156',
 'United',
 'States',
 'Bulgaria',
 '2',
 'China',
 'United',
 'States',
 '448',
 'Denmark',
 'United',
 'States',
 '98',
 'United',
 'States',
 'Philippines',
 '116',
 'United',
 'States',
 'Nicaragua',
 '181',
 'United',
 'States',
 'Belgium',
 '355',
 'Peru',
 'United',
 'States',
 '212',
 'Argentina',
 'United',
 'States',
 '184',
 'Cayman',
 'Islands',
 'United',
 'States',
 '247',
 'South',
 'Africa',
 'United',
 'States',
 '25',
 'United',
 'States',
 'Iceland',
 '129',
 'United',
 'States',
 'Argentina',
 '159',
 'Spain',
 'United',
 'States',
 '422',
 'Netherlands',
 'Antilles',
 'United',
 'States',
 '286',
 'Bermuda',
 'United',
 'States',
 '183',
 'United',
 'States',
 'Austria',
 '34',
 'United',
 'States',
 'Nigeria',
 '18',
 'United',
 'States',
 '"Bonaire',
 'Sint',
 'Eustatius',
 'and',
 'Saba"',
 '16',
 'Kiribati',
 'United',
 'States',
 '17',
 'Saudi',
 'Arabia',
 'United',
 'States',
 '42',
 'Czech',
 'Republic',
 'United',
 'States',
 '21',
 'Belgium',
 'United',
 'States',
 '408',
 'United',
 'States',
 'Israel',
 '122',
 'United',
 'States',
 'Bahrain',
 '1',
 'United',
 'States',
 'Saint',
 'Lucia',
 '121',
 'Afghanistan',
 'United',
 'States',
 '11',
 'United',
 'States',
 'British',
 'Virgin',
 'Islands',
 '47',
 'Curacao',
 'United',
 'States',
 '20',
 'Georgia',
 'United',
 'States',
 '2',
 'United',
 'States',
 'Guyana',
 '20',
 'United',
 'States',
 'Denmark',
 '107',
 'Philippines',
 'United',
 'States',
 '132',
 'Grenada',
 'United',
 'States',
 '65',
 'Cape',
 'Verde',
 'United',
 'States',
 '18',
 'Ukraine',
 'United',
 'States',
 '19',
 'United',
 'States',
 'Papua',
 'New',
 'Guinea',
 '1',
 'United',
 'States',
 'Saudi',
 'Arabia',
 '54',
 'Russia',
 'United',
 'States',
 '152',
 'Guatemala',
 'United',
 'States',
 '386',
 'Saint',
 'Lucia',
 'United',
 'States',
 '116',
 'Paraguay',
 'United',
 'States',
 '90',
 'United',
 'States',
 'Curacao',
 '14',
 'United',
 'States',
 'Taiwan',
 '252',
 'United',
 'States',
 'South',
 'Africa',
 '15',
 'Turkey',
 'United',
 'States',
 '75',
 'United',
 'Kingdom',
 'United',
 'States',
 '1629',
 'United',
 'States',
 'Greenland',
 '2',
 'United',
 'States',
 'Spain',
 '442',
 'Cuba',
 'United',
 'States',
 '243',
 'United',
 'States',
 'Italy',
 '433',
 'United',
 'States',
 'Switzerland',
 '334',
 'Dominica',
 'United',
 'States',
 '28',
 'United',
 'States',
 'Japan',
 '1307',
 'Portugal',
 'United',
 'States',
 '102',
 'United',
 'States',
 'Brazil',
 '578',
 'Bahrain',
 'United',
 'States',
 '30',
 'United',
 'States',
 'Peru',
 '284',
 'Vietnam',
 'United',
 'States',
 '1',
 'United',
 'States',
 'United',
 'Kingdom',
 '1503',
 'United',
 'States',
 'Belize',
 '118',
 'Belize',
 'United',
 'States',
 '121',
 'United',
 'States',
 'Ghana',
 '28',
 'United',
 'States',
 'Indonesia',
 '1',
 'United',
 'States',
 'Fiji',
 '51',
 'United',
 'States',
 'Canada',
 '8305',
 'United',
 'States',
 'French',
 'Polynesia',
 '38',
 'United',
 'States',
 'Antigua',
 'and',
 'Barbuda',
 '121',
 'United',
 'States',
 'Burkina',
 'Faso',
 '1',
 'Nicaragua',
 'United',
 'States',
 '178',
 'United',
 'States',
 'Latvia',
 '13',
 'United',
 'States',
 'Dominica',
 '32',
 'United',
 'States',
 'Czech',
 'Republic',
 '22',
 'United',
 'States',
 'Australia',
 '216',
 'Austria',
 'United',
 'States',
 '36',
 'United',
 'States',
 'Cook',
 'Islands',
 '12',
 'Jordan',
 'United',
 'States',
 '50',
 'Palau',
 'United',
 'States',
 '31',
 'Uganda',
 'United',
 'States',
 '2',
 'United',
 'States',
 'Cameroon',
 '1',
 'South',
 'Korea',
 'United',
 'States',
 '683',
 'Angola',
 'United',
 'States',
 '14',
 'Ghana',
 'United',
 'States',
 '27',
 'Guadeloupe',
 'United']

In [62]:
rddfile_split_flat_3 = rddfile_split_flat_2.keyBy(lambda x:x[0])

In [63]:
rddfile_split_flat_3.take(100)

[('D', 'DEST_COUNTRY_NAME'),
 ('O', 'ORIGIN_COUNTRY_NAME'),
 ('c', 'count'),
 ('U', 'United'),
 ('S', 'States'),
 ('R', 'Romania'),
 ('1', '1'),
 ('U', 'United'),
 ('S', 'States'),
 ('I', 'Ireland'),
 ('2', '264'),
 ('U', 'United'),
 ('S', 'States'),
 ('I', 'India'),
 ('6', '69'),
 ('E', 'Egypt'),
 ('U', 'United'),
 ('S', 'States'),
 ('2', '24'),
 ('E', 'Equatorial'),
 ('G', 'Guinea'),
 ('U', 'United'),
 ('S', 'States'),
 ('1', '1'),
 ('U', 'United'),
 ('S', 'States'),
 ('S', 'Singapore'),
 ('2', '25'),
 ('U', 'United'),
 ('S', 'States'),
 ('G', 'Grenada'),
 ('5', '54'),
 ('C', 'Costa'),
 ('R', 'Rica'),
 ('U', 'United'),
 ('S', 'States'),
 ('4', '477'),
 ('S', 'Senegal'),
 ('U', 'United'),
 ('S', 'States'),
 ('2', '29'),
 ('U', 'United'),
 ('S', 'States'),
 ('M', 'Marshall'),
 ('I', 'Islands'),
 ('4', '44'),
 ('G', 'Guyana'),
 ('U', 'United'),
 ('S', 'States'),
 ('1', '17'),
 ('U', 'United'),
 ('S', 'States'),
 ('S', 'Sint'),
 ('M', 'Maarten'),
 ('5', '53'),
 ('M', 'Malta'),
 ('U', 'United'),
 ('S', 'States'),
 ('1', '1'),
 ('B', 'Bolivia'),
 ('U', 'United'),
 ('S', 'States'),
 ('4', '46'),
 ('A', 'Anguilla'),
 ('U', 'United'),
 ('S', 'States'),
 ('2', '21'),
 ('T', 'Turks'),
 ('a', 'and'),
 ('C', 'Caicos'),
 ('I', 'Islands'),
 ('U', 'United'),
 ('S', 'States'),
 ('1', '136'),
 ('U', 'United'),
 ('S', 'States'),
 ('A', 'Afghanistan'),
 ('2', '2'),
 ('S', 'Saint'),
 ('V', 'Vincent'),
 ('a', 'and'),
 ('t', 'the'),
 ('G', 'Grenadines'),
 ('U', 'United'),
 ('S', 'States'),
 ('1', '1'),
 ('I', 'Italy'),
 ('U', 'United'),
 ('S', 'States'),
 ('3', '390'),
 ('U', 'United'),
 ('S', 'States'),
 ('R', 'Russia'),
 ('1', '156'),
 ('U', 'United'),
 ('S', 'States'),
 ('F', 'Federated'),
 ('S', 'States'),
 ('o', 'of'),
 ('M', 'Micronesia')]

In [64]:
rdd_groups = rddfile_split_flat_3.groupByKey()

In [73]:
rdd_groups.getNumPartitions()

7

In [75]:
rdd_groups.repartition(4)

MapPartitionsRDD[53] at coalesce at NativeMethodAccessorImpl.java:0

In [76]:
rdd_groups.getNumPartitions()

7

In [77]:
rdd_anotherRDD = rdd_groups.repartition(4)

In [78]:
rdd_anotherRDD.getNumPartitions()

4

In [65]:
rdd_groups

PythonRDD[42] at RDD at PythonRDD.scala:53

In [67]:
rdd_groups.take(10)

[('6', <pyspark.resultiterable.ResultIterable at 0x73a883731c10>),
 ('C', <pyspark.resultiterable.ResultIterable at 0x73a8834ff0d0>),
 ('R', <pyspark.resultiterable.ResultIterable at 0x73a88633ce50>),
 ('8', <pyspark.resultiterable.ResultIterable at 0x73a883c1e490>),
 ('M', <pyspark.resultiterable.ResultIterable at 0x73a8838c5850>),
 ('B', <pyspark.resultiterable.ResultIterable at 0x73a8836fa490>),
 ('t', <pyspark.resultiterable.ResultIterable at 0x73a88365ad50>),
 ('o', <pyspark.resultiterable.ResultIterable at 0x73a88365ad10>),
 ('P', <pyspark.resultiterable.ResultIterable at 0x73a883658dd0>),
 ('2', <pyspark.resultiterable.ResultIterable at 0x73a8836fadd0>)]

In [68]:
rdd_groups_new = rdd_groups.map(lambda x:(x[0],list(x[1])))

In [69]:
rdd_groups_new

PythonRDD[46] at RDD at PythonRDD.scala:53

In [70]:
rdd_groups_new.take(10)

[('6',
  ['69',
   '61',
   '6200',
   '61',
   '65',
   '61',
   '621',
   '66',
   '6220',
   '65',
   '683',
   '62',
   '62',
   '62',
   '64',
   '6',
   '69',
   '660',
   '608',
   '69',
   '666',
   '61',
   '63',
   '63',
   '60',
   '619',
   '62',
   '62',
   '6427',
   '60',
   '673',
   '61',
   '6490',
   '653',
   '63',
   '65',
   '64',
   '60',
   '62',
   '62',
   '65',
   '6',
   '63',
   '607',
   '60',
   '610',
   '6',
   '610',
   '6',
   '617',
   '61',
   '65',
   '640',
   '65',
   '6',
   '61',
   '6',
   '622',
   '695',
   '605',
   '661',
   '675',
   '6000',
   '635',
   '68',
   '65',
   '67',
   '60',
   '62',
   '618',
   '6372',
   '614',
   '67',
   '687',
   '61',
   '6354',
   '640']),
 ('C',
  ['Costa',
   'Caicos',
   'Cyprus',
   'Costa',
   'Colombia',
   'Cape',
   'Chile',
   'China',
   'Caicos',
   'Cyprus',
   'Canada',
   'China',
   'Cayman',
   'Czech',
   'Curacao',
   'Cape',
   'Curacao',
   'Cuba',
   'Canada',
   'Czech',
   'Cook',
   'Cameroon',
   'Chile',
   'Cuba',
   'Colombia',
   'Cayman',
   'Cook',
   'Croatia',
   'Costa',
   'Caicos',
   'Cyprus',
   'Costa',
   'Colombia',
   'Cape',
   'Chile',
   'China',
   'Caicos',
   'Croatia',
   'Cyprus',
   'Canada',
   'China',
   'Cayman',
   'Czech',
   'Curacao',
   'Cape',
   'Cote',
   'Curacao',
   'Cuba',
   'Canada',
   'Czech',
   'Cook',
   'Caledonia',
   'Chile',
   'Cuba',
   'Colombia',
   'Cayman',
   'Cook',
   'Costa',
   'Caicos',
   'Cyprus',
   'Costa',
   'Colombia',
   'Cape',
   'Chile',
   'China',
   'Caicos',
   'Cyprus',
   'Canada',
   'China',
   'Cayman',
   'Czech',
   'Curacao',
   'Cape',
   'Curacao',
   'Cuba',
   'Canada',
   'Czech',
   'Cook',
   'Cameroon',
   'Chile',
   'Cuba',
   'Colombia',
   'Cayman',
   'Cook',
   'Croatia',
   'Costa',
   'Caicos',
   'Congo',
   'Costa',
   'Colombia',
   'Cape',
   'Chile',
   'China',
   'Caicos',
   'Canada',
   'Cambodia',
   'China',
   'Cayman',
   'Chad',
   'Czech',
   'Curacao',
   'Cape',
   'Curacao',
   'Cuba',
   'Canada',
   'Czech',
   'Cook',
   'Chile',
   'Cuba',
   'Colombia',
   'Cayman',
   'Cook',
   'Croatia',
   'Costa',
   'Caicos',
   'Costa',
   'Colombia',
   'Cape',
   'Chile',
   'China',
   'Caicos',
   'Croatia',
   'Canada',
   'Cambodia',
   'China',
   'Cayman',
   'Cameroon',
   'Czech',
   'Curacao',
   'Cape',
   'Curacao',
   'Cuba',
   'Canada',
   'Czech',
   'Cook',
   'Caledonia',
   'Chile',
   'Cuba',
   'Colombia',
   'Cayman',
   'Cook',
   'Croatia',
   'Costa',
   'Caicos',
   'Cyprus',
   'Costa',
   'Colombia',
   'Cape',
   'Chile',
   'China',
   'Caicos',
   'Croatia',
   'Canada',
   'China',
   'Cayman',
   'Czech',
   'Curacao',
   'Cape',
   'Curacao',
   'Cuba',
   'Canada',
   'Czech',
   'Cook',
   'Chile',
   'Cuba',
   'Colombia',
   'Cayman',
   'Cook',
   'Croatia',
   'Costa',
   'Caicos',
   'Costa',
   'Colombia',
   'Cape',
   'Chile',
   'China',
   'Caicos',
   'Cyprus',
   'Canada',
   'Cunha"',
   'Cambodia',
   'China',
   'Cayman',
   'Czech',
   'Cunha"',
   'Curacao',
   'Cape',
   'Curacao',
   'Cuba',
   'Canada',
   'Czech',
   'Cook',
   'Caledonia',
   'Chile',
   'Cuba',
   'Colombia',
   'Cayman',
   'Cook']),
 ('R',
  ['Romania',
   'Rica',
   'Russia',
   'Rica',
   'Republic',
   'Republic',
   'Republic',
   'Russia',
   'Republic',
   'Romania',
   'Rica',
   'Russia',
   'Rica',
   'Republic',
   'Republic',
   'Republic',
   'Russia',
   'Romania',
   'Republic',
   'Romania',
   'Rica',
   'Russia',
   'Rica',
   'Republic',
   'Republic',
   'Republic',
   'Russia',
   'Republic',
   'Romania',
   'Rica',
   'Russia',
   'Rica',
   'Republic',
   'Republic',
   'Republic',
   'Russia',
   'Romania',
   'Republic',
   'Rica',
   'Russia',
   'Rica',
   'Republic',
   'Republic',
   'Republic',
   'Russia',
   'Republic',
   'Romania',
   'Rica',
   'Russia',
   'Rica',
   'Republic',
   'Republic',
   'Republic',
   'Russia',
   'Romania',
   'Republic',
   'Romania',
   'Rica',
   'Russia',
   'Rwanda',
   'Rica',
   'Republic',
   'Republic',
   'Republic',
   'Russia',
   'Romania',
   'Republic']),
 ('8',
  ['86',
   '87',
   '8271',
   '8305',
   '832',
   '873',
   '827',
   '8399',
   '853',
   '83',
   '80',
   '83',
   '8483',
   '867',
   '872',
   '86',
   '87',
   '8177',
   '888',
   '89',
   '89',
   '8034',
   '840',
   '8',
   '83',
   '83',
   '84',
   '82',
   '81',
   '85',
   '8097',
   '819',
   '818',
   '806',
   '81',
   '811',
   '888',
   '8514',
   '83',
   '8',
   '85',
   '8650',
   '876',
   '865',
   '897',
   '848',
   '86',
   '84',
   '89',
   '842',
   '837',
   '811']),
 ('M',
  ['Marshall',
   'Maarten',
   'Malta',
   'Micronesia',
   'Marshall',
   'Maarten',
   'Mexico',
   'Malaysia',
   'Morocco',
   'Morocco',
   'Martinique',
   'Malaysia',
   'Micronesia',
   'Malta',
   'Mexico',
   'Martinique',
   'Moldova',
   'Maarten',
   'Marshall',
   'Malta',
   'Micronesia',
   'Marshall',
   'Maarten',
   'Mexico',
   'Malaysia',
   'Morocco',
   'Morocco',
   'Martinique',
   'Malaysia',
   'Micronesia',
   'Malta',
   'Mexico',
   'Martinique',
   'Montenegro',
   'Marshall',
   'Maarten',
   'Malta',
   'Micronesia',
   'Marshall',
   'Maarten',
   'Mexico',
   'Malaysia',
   'Morocco',
   'Morocco',
   'Martinique',
   'Malaysia',
   'Micronesia',
   'Malta',
   'Mexico',
   'Martinique',
   'Martin',
   'Maarten',
   'Marshall',
   'Malta',
   'Malawi',
   'Micronesia',
   'Marshall',
   'Maarten',
   'Mexico',
   'Morocco',
   'Morocco',
   'Martinique',
   'Malaysia',
   'Micronesia',
   'Malta',
   'Mexico',
   'Martinique',
   'Macau',
   'Mauritania',
   'Marshall',
   'Maarten',
   'Micronesia',
   'Marshall',
   'Maarten',
   'Mexico',
   'Morocco',
   'Morocco',
   'Martinique',
   'Micronesia',
   'Mexico',
   'Martinique',
   'Macau',
   'Mauritania',
   'Martin',
   'Marshall',
   'Maarten',
   'Malta',
   'Micronesia',
   'Marshall',
   'Maarten',
   'Mexico',
   'Malaysia',
   'Morocco',
   'Morocco',
   'Martinique',
   'Malaysia',
   'Micronesia',
   'Malta',
   'Mexico',
   'Martinique',
   'Macau',
   'Mauritania',
   'Martin',
   'Mauritania',
   'Maarten',
   'Marshall',
   'Micronesia',
   'Marshall',
   'Mali',
   'Maarten',
   'Mexico',
   'Malaysia',
   'Morocco',
   'Morocco',
   'Martinique',
   'Malaysia',
   'Micronesia',
   'Mexico',
   'Martinique',
   'Macau']),
 ('B',
  ['Bolivia',
   'Bahamas',
   'Bosnia',
   'Barbuda',
   'Bahamas',
   'Barthelemy',
   'Barthelemy',
   'Barbados',
   'British',
   'Brazil',
   'Bulgaria',
   'Belgium',
   'Bermuda',
   'Belgium',
   'Bahrain',
   'British',
   'Brazil',
   'Bahrain',
   'Belize',
   'Belize',
   'Barbuda',
   'Burkina',
   'Bermuda',
   'Barbados',
   'Bolivia',
   'Bulgaria',
   'Bolivia',
   'Bahamas',
   'Barbuda',
   'Bahamas',
   'Burkina',
   'Barthelemy',
   'Barthelemy',
   'Barbados',
   'British',
   'Brazil',
   'Bulgaria',
   'Belgium',
   'Bermuda',
   'Belgium',
   'Bahrain',
   'British',
   'Brazil',
   'Bahrain',
   'Belize',
   'Belize',
   'Barbuda',
   'Bermuda',
   'Barbados',
   'Bolivia',
   'Bulgaria',
   'Bolivia',
   'Bahamas',
   'Bosnia',
   'Barbuda',
   'Bahamas',
   'Barthelemy',
   'Barthelemy',
   'Barbados',
   'British',
   'Brazil',
   'Bulgaria',
   'Belgium',
   'Bermuda',
   'Belgium',
   'Bahrain',
   'British',
   'Brazil',
   'Bahrain',
   'Belize',
   'Belize',
   'Barbuda',
   'Burkina',
   'Bermuda',
   'Barbados',
   'Bolivia',
   'Bulgaria',
   'Bolivia',
   'Bahamas',
   'Barbuda',
   'Bahamas',
   'Burkina',
   'Barthelemy',
   'Barthelemy',
   'Barbados',
   'British',
   'Brazil',
   'Bulgaria',
   'Belgium',
   'Bermuda',
   'Belgium',
   'British',
   'Brazil',
   'Bahrain',
   'Belize',
   'Belize',
   'Barbuda',
   'Bermuda',
   'Barbados',
   'Bolivia',
   'Bolivia',
   'Bahamas',
   'Barbuda',
   'Bahamas',
   'Barthelemy',
   'Barthelemy',
   'Barbados',
   'Belarus',
   'British',
   'Brazil',
   'Belgium',
   'Bermuda',
   'Bahrain',
   'Belgium',
   'British',
   'Bahrain',
   'Brazil',
   'Belize',
   'Belize',
   'Barbuda',
   'Bermuda',
   'Barbados',
   'Bolivia',
   'Bulgaria',
   'Bolivia',
   'Bahamas',
   'Barbuda',
   'Bahamas',
   'Brunei',
   'Barthelemy',
   'Barthelemy',
   'Barbados',
   'Belarus',
   'British',
   'Brazil',
   'Belgium',
   'Bermuda',
   'Belgium',
   'Bahrain',
   'British',
   'Brazil',
   'Bahrain',
   'Belize',
   'Belize',
   'Barbuda',
   'Bermuda',
   'Barbados',
   'Bolivia',
   'Bulgaria',
   'Bolivia',
   'Bahamas',
   'Burundi',
   'Barbuda',
   'Bahamas',
   'Barthelemy',
   'Barthelemy',
   'Barbados',
   'British',
   'Brazil',
   'Belgium',
   'Bermuda',
   'Belgium',
   'Bahrain',
   'British',
   'Brazil',
   'Bahrain',
   'Belize',
   'Belize',
   'Barbuda',
   'Brunei',
   'Bermuda',
   'Barbados',
   'Bolivia']),
 ('t',
  ['the',
   'the',
   'the',
   'the',
   'the',
   'the',
   'the',
   'the',
   'the',
   'the',
   'the',
   'the',
   'the']),
 ('o',
  ['of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of',
   'of']),
 ('P',
  ['Pakistan',
   'Portugal',
   'Palau',
   'Panama',
   'Poland',
   'Panama',
   'Pakistan',
   'Polynesia',
   'Philippines',
   'Peru',
   'Philippines',
   'Papua',
   'Paraguay',
   'Portugal',
   'Peru',
   'Polynesia',
   'Palau',
   'Poland',
   'Paraguay',
   'Pakistan',
   'Portugal',
   'Palau',
   'Panama',
   'Poland',
   'Panama',
   'Pakistan',
   'Polynesia',
   'Philippines',
   'Peru',
   'Philippines',
   'Papua',
   'Paraguay',
   'Papua',
   'Portugal',
   'Peru',
   'Polynesia',
   'Palau',
   'Poland',
   'Pakistan',
   'Portugal',
   'Palau',
   'Panama',
   'Poland',
   'Panama',
   'Pakistan',
   'Polynesia',
   'Philippines',
   'Peru',
   'Philippines',
   'Papua',
   'Paraguay',
   'Portugal',
   'Peru',
   'Polynesia',
   'Palau',
   'Poland',
   'Paraguay',
   'Pakistan',
   'Portugal',
   'Palau',
   'Panama',
   'Poland',
   'Panama',
   'Pakistan',
   'Polynesia',
   'Philippines',
   'Peru',
   'Philippines',
   'Paraguay',
   'Portugal',
   'Peru',
   'Polynesia',
   'Palau',
   'Poland',
   'Paraguay',
   'Pakistan',
   'Portugal',
   'Palau',
   'Panama',
   'Poland',
   'Panama',
   'Pakistan',
   'Polynesia',
   'Philippines',
   'Peru',
   'Philippines',
   'Papua',
   'Paraguay',
   'Portugal',
   'Peru',
   'Polynesia',
   'Palau',
   'Poland',
   'Paraguay',
   'Pakistan',
   'Portugal',
   'Palau',
   'Panama',
   'Poland',
   'Panama',
   'Pakistan',
   'Polynesia',
   'Philippines',
   'Peru',
   'Philippines',
   'Papua',
   'Paraguay',
   'Portugal',
   'Peru',
   'Polynesia',
   'Palau',
   'Poland',
   'Paraguay',
   'Pakistan',
   'Portugal',
   'Palau',
   'Panama',
   'Poland',
   'Panama',
   'Pakistan',
   'Polynesia',
   'Philippines',
   'Peru',
   'Philippines',
   'Paraguay',
   'Papua',
   'Portugal',
   'Peru',
   'Polynesia',
   'Palau',
   'Poland']),
 ('2',
  ['264',
   '24',
   '25',
   '29',
   '21',
   '2',
   '28',
   '20',
   '252',
   '272',
   '29',
   '28',
   '20',
   '293',
   '25',
   '25',
   '23',
   '28',
   '29',
   '2',
   '231',
   '289',
   '2',
   '275',
   '238',
   '26',
   '2',
   '24',
   '25',
   '20',
   '2',
   '212',
   '247',
   '25',
   '286',
   '21',
   '20',
   '2',
   '20',
   '252',
   '2',
   '243',
   '28',
   '284',
   '28',
   '22',
   '216',
   '2',
   '27',
   '24',
   '2',
   '235',
   '290',
   '251',
   '200',
   '226',
   '230',
   '25',
   '294',
   '211',
   '268',
   '25',
   '290',
   '246',
   '28',
   '21',
   '23',
   '2',
   '2',
   '2',
   '28',
   '21',
   '2',
   '236',
   '2',
   '24',
   '266',
   '226',
   '2',
   '2',
   '26',
   '201',
   '228',
   '279',
   '202',
   '26',
   '259',
   '2',
   '20',
   '235',
   '2',
   '2025',
   '20',
   '20',
   '2',
   '25',
   '27',
   '258',
   '2',
   '217',
   '225',
   '2',
   '291',
   '290',
   '2',
   '28',
   '24',
   '290',
   '256',
   '27',
   '25',
   '258',
   '2',
   '2',
   '24',
   '267',
   '2',
   '204',
   '25',
   '201',
   '265',
   '24',
   '2',
   '27',
   '247',
   '226',
   '230',
   '277',
   '283',
   '26',
   '259',
   '24',
   '213',
   '240',
   '2',
   '25',
   '27',
   '235',
   '2',
   '293',
   '278',
   '20',
   '252',
   '25',
   '245',
   '25',
   '285',
   '243',
   '296',
   '216',
   '239',
   '26',
   '2',
   '25',
   '201',
   '21',
   '21',
   '2',
   '28',
   '255',
   '28',
   '229',
   '224',
   '26',
   '22',
   '26',
   '26',
   '275',
   '208',
   '249',
   '258',
   '24',
   '26',
   '2',
   '2',
   '2',
   '214',
   '2',
   '29',
   '2',
   '282',
   '26',
   '292',
   '2',
   '26',
   '25',
   '211',
   '277',
   '247',
   '213',
   '21',
   '234',
   '2',
   '2',
   '268',
   '24',
   '29',
   '26',
   '223',
   '21',
   '25',
   '20',
   '240',
   '282',
   '205',
   '280',
   '20',
   '25',
   '25',
   '27',
   '20',
   '250',
   '2',
   '2',
   '24',
   '248',
   '27',
   '28',
   '27',
   '20',
   '246',
   '251',
   '24',
   '26',
   '28',
   '23',
   '2',
   '2',
   '29',
   '231',
   '21',
   '2',
   '25',
   '288',
   '29',
   '25',
   '231',
   '27',
   '280',
   '262',
   '213',
   '266',
   '22',
   '28',
   '260',
   '22',
   '2',
   '25',
   '2',
   '288',
   '271',
   '282',
   '29',
   '252',
   '21',
   '2',
   '25',
   '295',
   '24',
   '26',
   '2',
   '255',
   '2',
   '2',
   '24',
   '243',
   '29',
   '2',
   '202',
   '21',
   '2',
   '24',
   '255',
   '274',
   '24',
   '29',
   '2',
   '265',
   '2',
   '21',
   '235',
   '26',
   '2',
   '285',
   '25',
   '222',
   '20',
   '295',
   '274'])]

In [74]:
rdd_groups_new.getNumPartitions()

7

In [79]:
rddfile.take(10)

['DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count',
 'United States,Romania,1',
 'United States,Ireland,264',
 'United States,India,69',
 'Egypt,United States,24',
 'Equatorial Guinea,United States,1',
 'United States,Singapore,25',
 'United States,Grenada,54',
 'Costa Rica,United States,477',
 'Senegal,United States,29']

In [86]:
dataRDD = sc.parallelize([("Brooke", 20), ("Denny", 31), ("Jules", 30),
("TD", 35), ("Brooke", 25),("Jules", 40), ("Denny", 51),(15,'Ahmed'),('','',5555)])

In [87]:
dataRDD

ParallelCollectionRDD[62] at readRDDFromFile at PythonRDD.scala:289

In [88]:
dataRDD.collect()

[('Brooke', 20),
 ('Denny', 31),
 ('Jules', 30),
 ('TD', 35),
 ('Brooke', 25),
 ('Jules', 40),
 ('Denny', 51),
 (15, 'Ahmed'),
 ('', '', 5555)]

In [90]:
dataRDD = sc.parallelize([("Brooke", 20), ("Denny", 31), ("Jules", 30),
("TD", 35), ("Brooke", 25),("Jules", 40), ("Denny", 51)])

In [91]:
dataRDD.collect()

[('Brooke', 20),
 ('Denny', 31),
 ('Jules', 30),
 ('TD', 35),
 ('Brooke', 25),
 ('Jules', 40),
 ('Denny', 51)]

In [92]:
data_groups = dataRDD.groupByKey()

In [93]:
data_groups.collect()

[('Brooke', <pyspark.resultiterable.ResultIterable at 0x73a88356ab10>),
 ('Denny', <pyspark.resultiterable.ResultIterable at 0x73a883568c50>),
 ('Jules', <pyspark.resultiterable.ResultIterable at 0x73a88356ac90>),
 ('TD', <pyspark.resultiterable.ResultIterable at 0x73a88356b050>)]

In [94]:
data_groups_avg = data_groups.map(lambda x:(x[0],sum(x[1])/len(x[1])))

In [95]:
data_groups_avg.collect()

[('Brooke', 22.5), ('Denny', 41.0), ('Jules', 35.0), ('TD', 35.0)]

In [96]:
data_2 = dataRDD.map(lambda x: (x[0],(x[1],1)))

In [97]:
data_2.collect()

[('Brooke', (20, 1)),
 ('Denny', (31, 1)),
 ('Jules', (30, 1)),
 ('TD', (35, 1)),
 ('Brooke', (25, 1)),
 ('Jules', (40, 1)),
 ('Denny', (51, 1))]

In [100]:
data_reduce = data_2.reduceByKey(lambda x,y:(x[0]+y[0],x[1]+y[1]))

In [101]:
data_reduce.collect()

[('Brooke', (45, 2)), ('Denny', (82, 2)), ('Jules', (70, 2)), ('TD', (35, 1))]

In [102]:
data_avg = data_reduce.map(lambda x:(x[0],x[1][0]/x[1][1]))

In [103]:
data_avg.collect()

[('Brooke', 22.5), ('Denny', 41.0), ('Jules', 35.0), ('TD', 35.0)]

In [104]:
df = spark.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30),
("TD", 35), ("Brooke", 25),("Jules", 40), ("Denny", 51)],schema=['Name','age'])

In [105]:
df

DataFrame[Name: string, age: bigint]

In [106]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: long (nullable = true)

In [107]:
df.rdd.getNumPartitions()

4

In [109]:
df2 = df.groupBy('Name').avg('age')

In [110]:
df2

DataFrame[Name: string, avg(age): double]

In [111]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- avg(age): double (nullable = true)

In [112]:
df2.show()

+------+--------+
|  Name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Jules|    35.0|
| Denny|    41.0|
|    TD|    35.0|
+------+--------+

In [113]:
df.cache()

DataFrame[Name: string, age: bigint]